<style>
    body {
        background-color: #194f02;
    } 
</style>

<div align="center">
<h1>Troop 1923</h1>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSUAIjXWtgzZnI1pl0ZiDx5wXFp4axG-gysNXwX9P8viwF1KrHhJSsui8k7XWkrHrSek3R6kTnVJoiv/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>