<div class="center">
    <h1>
       Math related things on harim-blog:
    </h1>
    <%= link_to("Factor Calculator", { :controller => 'math', :action => 'factors' }) %>
    <%= link_to("Factor Calculator", { :controller => 'math', :action => 'quadratic_factors' }) %>
</div>
