<h2> Factors of a quadratic equation </h2>

<script>
    function calculate() {
        document.getElementById("answer_out").innerHTML = "Calculating.....";
        var input1 = Math.round(document.getElementById("num1").value);
        var input2 = Math.round(document.getElementById("num2").value);
        var input3 = Math.round(document.getElementById("num3").value);
        var mult = input1 * input3;
        var diff = false;
        if (mult < 0) {
        diff = true;
        }
        var i2 = 2;
        mult = Math.abs(mult);
        var complete = false;
        for (var i1 = 1; i1 <= mult; i1++) {
            for (i2 = 1; i2 <= mult; i2++) {
                if (i1 * i2 == mult) {
                    if (diff && (i1 - i2 == input2 || i2 - i1 == input2)) {
                        complete = true;
                        break;
                    } else if (!diff && i1 + i2 == Math.abs(input2)) {
                        complete = true;
                        break;
                    }
                }
            }
            if (complete) {
                break;
            }
        }
        if (!complete) {
            document.getElementById("answer_out").innerHTML = "This quadratic is not factorable";
        } else {
        
            var firstN = false;
            var secondN = false;
            
            if (diff) {
                if (i1 - i2 == input2) {
                    secondN = true;
                } else {
                    firstN = true;
                }
            } else if (input2 < 0) {
                firstN = true;
                secondN = true;
            }
            
            var answer = "(";
            
            if (i1 % input1 == 0) {
                i1 /= input1;
            } else {
                answer += input1;
            }
            
            answer += "x";
            
            
            if (firstN) {
                answer += "-";
            } else {
                answer += "+";
            }
            
            answer += i1;
            answer += ")(";
            
            if (i2 % input1 == 0) {
                i2 /= input1;
            } else {
                answer += input1;
            }
            answer += "x";
            if (secondN) {
                answer += "-";
            } else {
                answer += "+";
            }
            answer += i2;
            answer += ")";

            document.getElementById("answer_out").innerHTML = answer;
        }
    }
</script>

<form onsubmit="return false">
    a: <input id="num1" type="number" min="1" max="1000000"/>
    b: <input id="num2" type="number" min="1" max="1000000"/>
    c: <input id="num3" type="number" min="1" max="1000000"/>
    <div style="margin: 3vh;">
        <input type="submit" value="calculate" onclick="calculate()"/>
    </div>
</form>

<div id="answer_out" style="margin: 10vh; font-size: 10vh;">

</div>